.apt_generated/
.classpath
.factorypath
.gitignore
.idea/
.project
.settings/
.tern-project
**/*.iml
kioskapp/*.iml
app/WebContent/WEB-INF/classes/
app/WebContent/WEB-INF/lib/
app/WebContent/img/.DS_Store
